<p id="notice"><%= notice %></p>

<h1>Zones</h1>

<table class="table">
  <thead>
    <tr class="row">
      <th scope="col" class="col-9">Name</th>
      <th class="col-3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |zone| %>
      <tr class="row">
        <td class="col-9"><%= zone.name %></td>
        <td class="col-1"><%= link_to 'Show', zone %></td>
        <td class="col-1"><%= link_to 'Edit', edit_zone_path(zone) %></td>
        <td class="col-1"><%= link_to 'Destroy', zone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zone', new_zone_path %>
