<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('zone.attributes.name') %>:</strong>
  <%= @zone.name %>
</p>

<%= link_to t('defaults.actions.edit'), edit_zone_path(@zone) %> |
<%= link_to t('defaults.actions.back'), zones_path %>
