<p id="notice"><%= notice %></p>

<% activity_log = NurseryTable.find_by(zone: @zone.id).restoration_activity_log_entries.all%>
<div class="col-12 " style="font-size:18px">
  <div class="row">
    <strong><%= t('zone.attributes.name') %>:</strong>
    <%= @zone.name %>
  </div>
  <div class="row">
    <strong>Corals added: </strong>
    <%= activity_log.sum(:corals_added)%>
  </div>
  <div class="row">
    <strong>Bleached corals:</strong>
     <%= activity_log.sum(:bleached_corals)%>
  </div>
  <div class="row">
    <strong>Dead Corals:</strong>
     <%= activity_log.sum(:dead_corals)%>
  </div>
  <div class="row">
    <%= link_to t('defaults.actions.edit'), edit_zone_path(@zone) %> |
    <%= link_to t('defaults.actions.back'), zones_path %>
  </div>
</div>


