<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <title>Coral Gardeners</title>
  </head>

  <body>
    
    <div class="container-fluid"> <%# Start navbar %>
      <header>
        <nav class="navbar navbar-expand-md sticky-top">
          <a class="nav-item nav-link home" href="/">Coral Gardeners</a>
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="<%= nursery_tables_path %>">Nursery Tables</a>
          <a class="nav-item nav-link" href="<%= zones_path %>">Zones</a>
          <a class="nav-item nav-link" href="<%= restoration_activity_log_entries_path %>">Restoration Activity Log</a>
          <a class="nav-item nav-link" href="<%= users_path %>">Users</a>
        </nav>
      </header>
    </div> <%# End navbar %>

    <div class="container-fluid wrapper"> <%# Start body %>
      <%# TODO: Bootstrap this %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div> <%# End body %>

    <div class="container-fluid"> <%# Start footer %>
      <footer class="branding">
        <small>&copy; 2019 <strong>Ruby for Good</strong></small>
      </footer>
    </div> <%# End footer %>

  </body>
</html>
