<!DOCTYPE html>
<html>
  <head>
    <title>Coral</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <title><%= @title %></title>
  </head>

  <body>
    
    <div class="container-fluid"> <%# Start navbar %>
      <header>
        <nav class="navbar navbar-expand-md sticky-top">
          <a class="nav-item nav-link home" href="/">Coral Gardeners</a>
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="<%= nursery_tables_path %>">Nursery Tables</a>
          <a class="nav-item nav-link" href="<%= zones_path %>">Zones</a>
        </nav>
      </header>
    </div> <%# End navbar %>

    <div class="container-fluid wrapper"> <%# Start body %>
      <%# TODO: Bootstrap this %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div> <%# End body %>

    <div class="container-fluid"> <%# Start footer %>
      <footer class="branding">
        <small>&copy; 2019 <strong class="req">Ruby for Good</strong></small>
      </footer>
    </div> <%# End footer %>

  </body>
</html>
