<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
    
    <title>Coral Gardeners</title>
  </head>

  <body>
    <div class="container-fluid"> <%# Start navbar %>
      <header>
        <nav class="navbar navbar-expand-sm">
          <a class="navbar-brand" href="<%= root_path %>">
            <%= image_tag("logo.png", size: "65x65", alt: "Coral Gardeners Logo") %>
          </a>
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="<%= root_path %>"><%= t('.home') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= nursery_tables_path %>"><%= t('.nursery_tables') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= zones_path %>"><%= t('.zones') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= restoration_activity_log_entries_path %>"><%= t('.restoration_activity_log') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_dive_path %>"><%= t('.new_dive') %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= users_path %>"><%= t('.users') %></a>
            </li>
            <li class="nav-item">
              <%= link_to t('.logout'), destroy_user_session_path, method: :delete, :class =>"nav-link" %>
            </li>
          <% end %>
        </nav>
      </header>
    </div> <%# End navbar %>

    <div class="container-fluid wrapper"> <%# Start body %>      
      <div class="row">
        <%# Devise errors %>
        <p class="notice"><%= notice %></p>

        <%# Flash message for errors %>
        <% if flash[:alert] %>
          <div class="col-12 justify-content-center alert alert-dark" role="alert">
            <%= flash[:alert] %>
          </div>
        <% end %>
                <% if flash[:notice] %>
          <div class="col-12 justify-content-center alert alert-info" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div> <%# End body %>

    <div class="container-fluid"> <%# Start footer %>
      <footer class="branding">
        <small>&copy; 2019 <strong>Ruby for Good</strong></small>
      </footer>
    </div> <%# End footer %>

  </body>
</html>
