<%= form_with(model: nursery_table, local: true) do |form| %>
  <% if nursery_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nursery_table.errors.count, "error") %> <%= t('.error_header') %>:</h2>

      <ul>
      <% nursery_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :capacity %>
    <%= form.number_field :capacity %>
  </div>

  <div class="field">
    <%= form.label :zone %>
    <%= form.select :zone_id, options_from_collection_for_select(Zone.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
