<p id="notice"><%= notice %></p>

<h1>Nursery Tables</h1>

<table>
  <thead>
    <tr>
      <th>Capacity</th>
      <th>Zone</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nursery_tables.each do |nursery_table| %>
      <tr>
        <td><%= nursery_table.capacity %></td>
        <td><%= nursery_table.zone %></td>
        <td><%= nursery_table.name %></td>
        <td><%= link_to 'Show', nursery_table %></td>
        <td><%= link_to 'Edit', edit_nursery_table_path(nursery_table) %></td>
        <td><%= link_to 'Destroy', nursery_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nursery Table', new_nursery_table_path %>
