<p id="notice"><%= notice %></p>

<h1>Nursery Tables</h1>

<table class="table">
  <thead>
    <tr class="row">
      <th scope="col" class="col-3">Capacity</th>
      <th scope="col" class="col-3">Zone</th>
      <th scope="col" class="col-3">Name</th>
      <th class="col-3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nursery_tables.each do |nursery_table| %>
      <tr class="row">
        <td class="col-3"><%= nursery_table.capacity %></td>
        <td class="col-3"><%= nursery_table.zone.name %></td>
        <td class="col-3"><%= nursery_table.name %></td>
        <td class="col-1"><%= link_to 'Show', nursery_table %></td>
        <td class="col-1"><%= link_to 'Edit', edit_nursery_table_path(nursery_table) %></td>
        <td class="col-1"><%= link_to 'Destroy', nursery_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nursery Table', new_nursery_table_path %>
