<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.capacity') %>:</strong>
  <%= @nursery_table.capacity %>
</p>

<p>
  <strong><%= t('.zone') %>:</strong>
  <%= @nursery_table.zone.name %>
</p>

<p>
  <strong><%= t('.name') %>:</strong>
  <%= @nursery_table.name %>
</p>

<%= link_to t('.edit'), edit_nursery_table_path(@nursery_table) %> |
<%= link_to t('.back'), nursery_tables_path %>
