<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('nursery_table.attributes.capacity') %>:</strong>
  <%= @nursery_table.capacity %>
</p>

<p>
  <strong><%= t('nursery_table.attributes.zone') %>:</strong>
  <%= @nursery_table.zone.name %>
</p>

<p>
  <strong><%= t('nursery_table.attributes.name') %>:</strong>
  <%= @nursery_table.name %>
</p>

<%= link_to t('defaults.actions.edit'), edit_nursery_table_path(@nursery_table) %> |
<%= link_to t('defaults.actions.back'), nursery_tables_path %>
