<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.capacity') %>:</strong>
  <%= @nursery_table.capacity %>
</p>

<p>
  <strong><%= t('.zone') %>:</strong>
  <%= @nursery_table.zone.name %>
</p>

<p>
  <strong><%= t('.name') %>:</strong>
  <%= @nursery_table.name %>
</p>
<br>
<br>

<p>
  <strong><%= t('.Restoration Activity Logs') %>:</strong>
  <br>
  <br>



  <% @nursery_restoration_activity.each do |entry| %>
    <br>
    <div class="col-4">
      <div class="card text-center">
        <div class="card-body restoration-index">
          <h5 class="card-title"><%= entry.nursery_table.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= entry.created_at %></h6>
          <p class="card-text">The table is <%= entry.percent_filled %> percent full. There are <%= entry.bleached_corals %> fragmented corals and <%= entry.dead_corals %> dead corals.</p>
          <p class="card-text text-muted">Was the nursery table cleaned? <%= entry.cleaned %></p>
        </div>
        <div class="card-footer restoration-index">
          <a href="#" class="btn btn-primary">Show</a>
          <a href="#" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
  <% end %>

</p>
<%= will_paginate @nursery_restoration_activity %>


<%= link_to t('.edit'), edit_nursery_table_path(@nursery_table) %> |
<%= link_to t('.back'), nursery_tables_path %>
