<p id="notice"><%= notice %></p>

<h1>Restoration Activity Log Entries</h1>

<table class="table">
  <thead>
    <tr class="row">
      <th class="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @restoration_activity_log_entries.each do |restoration_activity_log_entry| %>
      <tr class="row">
        <td class="col-4"><%= link_to 'Show', restoration_activity_log_entry %></td>
        <td class="col-4"><%= link_to 'Edit', edit_restoration_activity_log_entry_path(restoration_activity_log_entry) %></td>
        <td class="col-4"><%= link_to 'Destroy', restoration_activity_log_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restoration Activity Log Entry', new_restoration_activity_log_entry_path %>
