<p id="notice"><%= notice %></p>

<h1>Restoration Activity Log Entries</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restoration_activity_log_entries.each do |restoration_activity_log_entry| %>
      <tr>
        <td><%= link_to 'Show', restoration_activity_log_entry %></td>
        <td><%= link_to 'Edit', edit_restoration_activity_log_entry_path(restoration_activity_log_entry) %></td>
        <td><%= link_to 'Destroy', restoration_activity_log_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restoration Activity Log Entry', new_restoration_activity_log_entry_path %>
