<h1>Restoration Activity Log Entries</h1>

<section class="row justify-content-center restoration-index">
  <% @restoration_activity_log_entries.each do |entry| %>
    <div class="col-4">
      <div class="card text-center">
        <div class="card-body restoration-index">
          <h5 class="card-title"><%= entry.nursery_table.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= entry.created_at %></h6>
          <p class="card-text">The table is <%= entry.percent_filled %> percent full. There are <%= entry.broken_corals %> fragmented corals and <%= entry.dead_corals %> dead corals.</p>
          <p class="card-text text-muted">Was the nursery table cleaned? <%= entry.cleaned %></p>
        </div>
        <div class="card-footer restoration-index">
          <a href="#" class="btn btn-primary">Show</a>
          <a href="#" class="btn btn-primary">Edit</a>
          <a href="#" class="btn btn-primary">Destroy</a>
        </div>
      </div>
    </div>
  <% end %>
</section>

<br>

<%= link_to 'New Restoration Activity Log Entry', new_restoration_activity_log_entry_path %>
